body {
  font-family: 'Rubik Mono One', 'Rubik', sans-serif;  
  font-size: 16px;
  padding: 5em;
}

h1 {
  font-size: 7em;
  margin: 0.25em 0;
  text-align: center;
  padding-bottom: .75em;
}

h2 {
  font-size:3.5em;
  margin: .5em 0;
  text-align: center;
  padding-bottom: 1em;
  color: rgba(232, 85, 109, 0.749)

}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
  text-align: center;
  padding-bottom: 1em;

}

p {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 1.25em;
  margin: 4em 14em;
  color: rgb(81, 75, 76);
  text-align: justify;
  line-height: 1.75em;

 

  
}