
body {
  font-family: 'Rubik Mono One', 'Rubik', sans-serif;  
  font-size: 16px;
  padding: 1em;
  
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 4em;
  margin: 0.5em 1em;
  padding-bottom: .25em;
  text-align: center;
  color: rgb(75, 75, 151);
}

h3 {
  font-family: 'Rubik', sans-serif;
  font-size: 2em;
  margin: 0.25em .5em;
  padding-bottom: 2em;
  text-align: center;
  color: rgb(110, 212, 80);
}

p {
  font-family: 'Rubik', sans-serif;
  font-size: 1.25em;
  text-align: left;
}

td {
  font-family: 'Rubik', sans-serif;
  font-size: 1.25em;
  text-align: start;
  padding: .5em;
}

label {
    display: block;
    font: 1rem 'Rubik', sans-serif;
    padding-top: 2em;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 200px;

}

option {
  font-family: 'Rubik', sans-serif;
  padding: 0;

}

input[type="range"] {
  appearance: slider-horizontal;
  width: 200px;
  margin: 0;
}



.fit-picture {
  position: relative;
  left: 65%;

}
